html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Sk Modernist
    Helvetica Neue, sans-serif;
  background-color: #121128;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
