.container {
  padding: 0 5rem;
}
@media (max-width: 600px) {
  .container {
    padding: 0 1rem;
  }
}
.main {
  min-height: 100vh;
  // padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heroSection {
  width: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
  .leftSection {
    width: 584px;
    @media (max-width: 640px) {
      width: auto;
    }
    .title {
      font-family: "Sk-Modernist";
      font-style: normal;
      font-weight: 700;
      font-size: 68px;
      line-height: 93px;
      @media (max-width: 640px) {
        font-size: 38px;
        line-height: 55px;
      }
      span {
        background: linear-gradient(100deg, #ec26fd 50.95%, #0098ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
    .info {
      font-family: "Sk-Modernist";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      margin-top: 19px;
      color: rgba(255, 255, 255, 0.5);
    }
    .buttonContainer{
      display: flex;
      gap: 44px;
      align-items: center;
      margin-top: 54px;
    }
  }
  .heroImage {
    width: 703px;
    height: 865px;
    background-image: url("../pages/Assets/Images/Heroimg.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    @media (max-width: 640px) {
      width: 400px;
      height: 400px;
    }
  }
}

@media (max-width: 640px) {
  .heroSection {
    flex-direction: column-reverse;
    .leftSection {
      width: auto;
      .title {
        font-size: 38px;
        line-height: 55px;
      }
    }
    .heroImage {
      width: 400px;
      height: 400px;
    }
  }
}

.cardSection{
  margin-top: -208px;
  @media (max-width: 640px) {
    margin-top: 50px;
  }
}
